#hero {
    width: 100%;
    height: 40vh;
    background: url("./assets/img/bg_5.jpeg") center / cover no-repeat;
}

.nav-item i {
padding-right: 15px;
padding-left: 15px;
}

#hero_intro {
font-size: 60px;
margin-top: 150px;
}

@media (max-width: 577px) {
.nav-item i {
    margin-top: 20px;
}
}

@media (max-width: 576px) {
#hero_intro {
    font-size: 40px;
}
}

.brdcrumb-title {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    line-height: 30px;
}
.brdcrumb-content {
    padding: 15px 0;
}
.brdcrumb-content .brdcrumb_item {
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    text-transform: capitalize;
    color: #fff;
}
.brdcrumb-content .brdcrumb_item_2,
.brdcrumb-content .brdcrumb_item.active, 
.brdcrumb-content .brdcrumb_item:hover {
    color: #ce7852;
}
.brdcrumb-content .brdcrumb_sep {
    color: #fff;
    font-style: italic;
    margin: 0 7px;
}
.nav-item i {
    cursor: pointer;
}
/* .mainmenu__nav .meninmenu li a { */
/* #hero .nav-item {
    align-items: center;
    align-self: stretch;
    color: #333;
    display: flex;
    font-size: 14px;
    font-weight: 600;
    padding: 0 25px;
    text-transform: uppercase;
    transition: all 0.4s ease 0s;
} */


.header {
    font-family: 'Sacramento', cursive;;
}